<div>
  <h2>Trusted By</h2>
</div>
<div class="user-logos">
  <div class="user-logo">
    <span class="helper"></span>
    <a href="https://www.soficom.cl/" target="_blank"><img src="/assets/img/logos/soficom.jpg" /></a>
  </div>
  <div class="user-logo">
    <span class="helper"></span>
    <a href="https://cloqworq.com/" target="_blank"><img src="/assets/img/logos/cloqworq.png" /></a>
  </div>
  <div class="user-logo">
    <span class="helper"></span>
    <a href="http://www.pylonloans.com/" target="_blank"><img src="/assets/img/logos/pylon.png" /></a>
  </div>
  <div class="user-logo">
    <span class="helper"></span>
    <a href="https://brandfolder.com/" target="_blank"><img src="/assets/img/logos/brandfolder.png" /></a>
  </div>
  <div class="user-logo">
    <span class="helper"></span>
    <a href="http://www.shopkeep.com/" target="_blank"><img src="/assets/img/logos/shopkeep.png" /></a>
  </div>
  <div class="user-logo">
    <span class="helper"></span>
    <a href="https://instoredoes.com/" target="_blank"><img src="/assets/img/logos/instore.png" /></a>
  </div>
  <div class="user-logo">
    <span class="helper"></span>
    <a href="https://jobaio.com/" target="_blank"><img src="/assets/img/logos/jobaio.png" /></a>
  </div>
  <div class="user-logo">
    <span class="helper"></span>
    <img src="/assets/img/logos/etailer.png" />
  </div>
  <div class="user-logo">
    <span class="helper"></span>
    <a href="https://aelogica.com/" target="_blank"><img src="/assets/img/logos/aelogica.png" /></a>
  </div>
  <div class="user-logo">
    <span class="helper"></span>
    <a href="http://www.bartec-pixavi.com" target="_blank"><img src="/assets/img/logos/bartec_pixavi.png" /></a>
  </div>
  <div class="user-logo">
    <span class="helper"></span>
    <a href="https://lob.com" target="_blank"><img src="/assets/img/logos/lob.png" /></a>
  </div>
  <div class="user-logo">
    <span class="helper"></span>
    <a href="https://cloudmine.me" target="_blank"><img src="/assets/img/logos/cloudmine.png" /></a>
  </div>
  <div class="user-logo">
  	<span class="helper"></span>
  	<a href="http://www.appspark.de" target="_blank"><img src="/assets/img/logos/appspark.png" /></a>
  </div>
</div>
<div class="user-logo-footer">
  <p>Using Deis? We'd love to see your logo here! Open a <a href="https://github.com/deis/deis.io/pulls" target="_blank">Pull Request</a>.</p>
</div>
